@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
body {
  font-family: "DM Sans", sans-serif;
}

option {
  color: black;
}

/* Premium Popup Styling mapview mapview*/
.leaflet-popup-content-wrapper {
  background: rgba(255, 255, 255, 0.8) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
  border-radius: 20px !important;
  padding: 0 !important;
  box-shadow: 0 15px 35px rgba(0,0,0,0.1) !important;
  border: 1px solid rgba(255,255,255,0.3) !important;
}

.leaflet-popup-content {
  margin: 0 !important;
  width: 240px !important;
}

.leaflet-popup-tip-container {
  display: none !important;
}

/* Marker Animation */
.custom-marker {
  transition: all 0.2s ease-in-out;
}

.custom-marker:hover {
  transform: scale(1.3);
  filter: brightness(1.2);
}